# Dependencies
node_modules

# Build output
.next
out
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
.vscode/*
!.vscode/extensions.json

# Env & secrets
.env
.env.*.local
.env.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# Misc
.vercel

